/* Reset inicial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Modal Bienvenida */
#modalBienvenida {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    z-index: 99;
}

#modaleBoxB {
    height: 500px;
    width: 800px;
    background-color: #D5E0D8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    text-align: center;
    border-radius: 20px;
}

#modaleBoxB>h1 {
    font-family: 'Allura', cursive;
    font-weight: normal;
    font-size: 3rem;
    color: #5C5B5F;
    margin-top: 70px;
    margin-bottom: 40px;
}

#modaleBoxB>button {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
    border-style: solid;
    background-color: #F2F6F3;
    border-color: #99b0a0;
    color: #5C5B5F;
    padding: 15px;
    transition-property: background-color, color;
    transition-duration: 0.6s, 0.4s;
}

#modaleBoxB>button:hover {
    background-color: #99b0a0;
    color: #D5E0D8;
    cursor: pointer;
}

/* Fin estilos modal */

/* Menú */
#navbar {
    width: 100%;
    height: 150px;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 5;
    font-size: 1.5rem;
    transition-property: top, height, font-size, background-color;
    transition-duration: 1s, 0.75s, 0.75s, 0.75s;
}

#menu {
    width: auto;
    height: 100%;
    list-style-type: none;
    line-height: 150px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    transition-property: line-height;
    transition-duration: 0.75s;
}

#logo {
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    transition-property: padding;
    transition-duration: 0.75s;
}

.elementoMenu {
    float: left;
    width: 33.3%;
    text-align: center;
    transition-property: background-color;
    transition-duration: 0.75s;
}

.elementoMenu:hover {
    background-color: #D5E0D8;
    cursor: pointer;
}

.elementoMenu:hover>a {
    color: #000;
}

.elementoMenu>a {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    color: white;
    transition-property: color;
    transition-duration: 0.75s;
}

/* Submenu */
#submenu {
    height: 250px;
    width: auto;
    top: 150px;
    list-style: none;
    position: absolute;
    z-index: 1;
    display: none;
}

.elemSubmenu {
    height: 25%;
    width: 100%;
    line-height: 70px;
    background-color: #D5E0D8;
    transition-property: background-color;
    transition-duration: 1s;
}

.elemSubmenu:hover {
    background-color: #FDFAF9;
    cursor: pointer;
}

.elemSubmenu>a {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: #535256;
    padding: 0px 10px;
    transition-property: color;
    transition-duration: 0.6s;
}

.elemSubmenu:hover>a {
    color: #99b0a0;
}

/* Esta regla permite desplegar el submenu */

.elementoMenu:hover #submenu {
    display: block;
}

/* fin del submenu */
.reservaPista {
    background-color: #D5E0D8;
    padding: 0px 15px;
}

.reservaPista:hover {
    background-color: #535256;
}


.reservaPista>a {
    color: #535256;
}


.colMenu {
    height: 100%;
    width: 42.5%;
    float: left;
}

.colLogo {
    height: 100%;
    width: 15%;
    float: left;
}

.menuIzq {
    width: 500px;
    margin-right: auto;
    margin-left: 50px;
}

.menuDcha {
    width: 500px;
    margin-left: auto;
    margin-right: 50px;
}

/* Fin estilos menú */

/* Sección encabezado */
#encabezado {
    height: 1000px;
    width: 100%;
}

.fondosHero {
    height: 1000px;
    width: 100%;
    background-size: cover;
    position: absolute;
}

#fondoHero1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Media/Hero01.jpg);
    z-index: 3;
}

#fondoHero2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Media/Hero02.jpg);
    z-index: 2;
}

#fondoHero3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Media/Hero03.jpg);
    z-index: 1;
}

body {
    overflow-x: hidden;
}

.mainSlide {
    animation-name: mainSlideAnim;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.nextSlide {
    animation-name: nextSlideAnim;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hiddenSlide {
    display: none;
}


@keyframes mainSlideAnim {
    0% {
        margin-left: 0%;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes nextSlideAnim {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0%;
    }
}


#tituloEncabezado {
    font-family: 'Allura', cursive;
    font-size: 5rem;
    text-align: center;
    position: relative;
    top: 300px;
    color: white;
    font-weight: normal;
    text-shadow: 1px 6px 5px rgba(0, 0, 0, 0.6);
    z-index: 5;
    animation-name: fadein;
    animation-duration: 3.5s;
}

#subtituloEncabezado {
    font-family: 'Allura', cursive;
    font-size: 2.8rem;
    text-align: center;
    position: relative;
    top: 300px;
    color: white;
    font-weight: normal;
    text-shadow: 1px 6px 5px rgba(0, 0, 0, 0.6);
    z-index: 5;
    animation-name: fadeMove;
    animation-duration: 3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
        top: 350px
    }

    100% {
        opacity: 1;
        top: 300px
    }
}

@keyframes fadeMove {
    0% {
        opacity: 0;
        left: -50%
    }

    100% {
        opacity: 1;
        left: 0
    }
}

/* Fin estilos encabezado */

/* Sección club */
#club {
    height: 1000px;
    width: 100%;
    background-color: #FDFAF9;
    overflow: hidden;
}

#contenedorclub {
    height: 520px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    overflow: hidden;
}

#videoClub {
    height: 315px;
    width: calc(100% - 40px);
    margin-top: 80px;
    padding-right: 40px;
}

.colClub {
    height: 100%;
    width: 50%;
    float: left;
}

.colClub>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.375rem;
    font-weight: normal;
    line-height: 1.5;
    padding-left: 5px;
    padding-right: 40px;
}

/* Fin estilos club */

/* Sección escuelas */
#escuelas {
    height: 1150px;
    width: 100%;
    background-color: #D5E0D8;
    overflow: hidden;
}

#EscuelaPerfec {
    display: none;
}

#EscuelaPreCompeticion {
    display: none;
}

#EscuelaCompeticion {
    display: none;
}

#contenedorEtiquetasPestañas {
    position: relative;
    height: 50px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    overflow: hidden;
}

.contenedorEscuelas {
    height: 600px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background-color: white;
}

.etiquetaPestana {
    position: relative;
    z-index: 99;
    font-family: 'Julius Sans One', sans-serif;
    width: 25%;
    font-size: 1.4rem;
    float: left;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.5s;
}

.pestanaActiva {
    position: absolute;
    height: 50px;
    width: 25%;
    background-color: #FDFAF9;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: 0.6s;
}

.colEscuelas {
    height: 600px;
    width: 50%;
    background-color: #FDFAF9;
    float: left;
}

.rowTexto {
    height: 200px;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.rowTexto>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.375rem;
    line-height: 1.5;
    padding-left: 40px;
}

.rowCuotasEscuela {
    height: 290px;
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.colCuotas {
    height: 290px;
    width: 50%;
    float: left;
}

.diasSemana {
    height: 25%;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.diasSemana>p {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 20px;

}

.cuotaMensual {
    height: 25%;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.cuotaMensual>p {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 20px;
}

.contenedorCuota {
    height: 50px;
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    background-color: #D5E0D8;
    border-radius: 10px;
    overflow: hidden;
}

.contenedorCuota>p {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 12px;
}

.imgSeccionClub {
    height: 100%;
    width: 100%;
    background-color: #535256;
}

.imgClub {
    height: 100%;
    width: auto;
}

/* Fin estilos escuelas */

/* Sección Galería */
#galeria {
    height: 950px;
    width: 100%;
    background-color: #F2F6F3;
    overflow: hidden;
}


#contenedorFiltrosImg {
    height: 50px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    overflow: hidden;
}

.filtrosImg {
    width: 25%;
    float: left;
}

.filtrosImg>p {
    font-family: 'Julius Sans One', sans-serif;
    background-color: #FDFAF9;
    width: 80%;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition-property: color, background-color;
    transition-duration: 0.8s;
}

#contenedorGaleria {
    height: 535px;
    width: 1210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.imagenesGal {
    height: calc(33.33% - 10px);
    width: calc(25% - 10px);
    border-radius: 10px;
    overflow: hidden;
    float: left;
    margin: 5px;
    display: block;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.imagenesGal:hover {
    box-shadow: 0px 0px 5px 2px #99b0a0;
}

.imgGaleria {
    height: 100%;
    width: auto;
    transition-property: transform;
    transition-duration: 0.3s;
}

.imgGaleria:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

/* Formato lightbox Galeria */
#modalLightboxGaleria {
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: none;
    z-index: 5;
}

#imagenAMostrar {
    height: auto;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.imgLightbox {
    height: auto;
    width: 100%;
    border-radius: 20px;
}

.lbButtons {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    border-style: none;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    transition-property: background-color;
    transition-duration: 0.5s;
}

.lbButtons:hover {
    background-color: #99b0a0;
}

.lbbRight {
    right: 30px;
}

.lbbLeft {
    left: 30px;
}

.lbButtons>i {
    font-size: 3.5rem;
    color: #99b0a0;
    transition-property: color;
    transition-duration: 0.5s;
}

.lbButtons:hover>i {
    color: rgba(0, 0, 0, 0.6);
}

.imgPos {
    height: 40px;
    width: 80px;
    position: absolute;
    transform: translateY(-50%);
    bottom: 2%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    z-index: 99;
}

.imgPos>p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.375rem;
    line-height: 40px;
}

/* Fin estilos galería */

/* Sección Reservas */
#reservas {
    height: 810px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

#formularioReservas {
    height: 390px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.colReservas {
    height: 100%;
    width: 50%;
    float: left;
}

#botonReservas {
    width: 210px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    background-color: rgba(253, 250, 249, 0.8);
    font-size: 1.5rem;
    font-family: 'Julius Sans One', sans-serif;
    padding: 0px;
    text-align: center;
    transition-property: border-color, background-color, color;
    transition-duration: 0.6s, 0.4s, 0.5s;
}

#botonReservas:hover {
    background-color: transparent;
    border-color: rgba(253, 250, 249, 0.8);
    color: #FDFAF9;
    cursor: pointer;
}

/* Fin estilos reservas */


/* Sección Contacto */
#contacto {
    height: auto;
    width: 100%;
    background-color: #FDFAF9;
    overflow: hidden;
}

#contenedorContacto {
    height: 560px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    overflow: hidden;
}

#formularioContacto {
    height: 560px;
    width: 50%;
    float: left;
}

#map {
    float: left;
}

#textoContacto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.375rem;
    line-height: 1.5;
    padding-left: 40px;
}

#botonEnviar {
    width: 210px;
    border-style: solid;
    border-color: #D5E0D8;
    background-color: #D5E0D8;
    font-size: 1.5rem;
    font-family: 'Julius Sans One', sans-serif;
    padding: 0px;
    transition-property: border-color, background-color, color;
    transition-duration: 0.6s, 0.4s;
    text-align: center;
}

#botonEnviar:hover {
    border-color: #99b0a0;
    background-color: #F2F6F3;
    color: #99b0a0;
    cursor: pointer;
}

/*Acordeon preguntas*/
#accordeon {
    width: 1000px;
    margin: 50px auto;
}

.cabeceraAcordeon {
    height: 60px;
    width: 100%;
    background-color: #D5E0D8;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
    margin: 5px 0px;
}

.cabeceraAcordeon>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    float: left;
    width: 90%;
    height: 100%;
    line-height: 60px;
    padding-left: 20px;
}

.cabeceraAcordeon>i {
    float: left;
    width: 10%;
    color: #99b0a0;
    font-size: 2rem;
    line-height: 60px;
    text-align: center;
    transform: rotate(0deg);
    transition-property: transform;
    transition-duration: 0.4s;
}

.contenedorAccordeon {
    height: 0px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.5s;
}

.contenedorAccordeon>p {
    font-size: 1rem;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}


/* Fin estilos contacto */

/* Sección Footer */
#pie {
    height: 350px;
    width: 100%;
}

#footerServicios {
    height: 50%;
    width: 100%;
    background-color: #F2F6F3;
    overflow: hidden;
}

#footerSocial {
    height: 50%;
    width: 100%;
    background-color: #D5E0D8;
    overflow: hidden;
}

.contenedorImagenesServicios {
    height: 50%;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.colServicios {
    height: 100%;
    width: 16.66%;
    float: left;
}

.colServicios>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

.imgServicioContainer {
    height: 90px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.imgServicio {
    height: 100%;
    width: auto;
}

.contenedorSocial {
    height: 50%;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.colSocial {
    height: 100%;
    width: 50%;
    float: left;
}

.colSocial>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
}

.contenedorIconos {
    height: 100%;
    width: 400px;
    padding: 0px 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#pie i {
    color: #535256;
    font-size: 3.8rem;
    line-height: 90px;
    padding: 0px 30px;
    transition-property: color, transform;
    transition-duration: 0.6s, 0.4s;
}

#pie i:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    color: #99b0a0;
}

/* Fin estilos footer */

/* Modal Formularios */
#modalFormularios {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    display: none;
    z-index: 5;
}

#modalBoxF {
    height: 350px;
    width: 800px;
    background-color: #D5E0D8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    text-align: center;
    border-radius: 20px;
}

#modalBoxF>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
}

#modalBoxF>h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #5C5B5F;
    margin-top: 20px;
    margin-bottom: 40px;
}

#modalBoxF>button {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1rem;
    border-style: solid;
    background-color: #F2F6F3;
    border-color: #99b0a0;
    color: #5C5B5F;
    padding: 10px;
    transition-property: background-color, color;
    transition-duration: 0.6s, 0.4s;
}

#modalBoxF>button:hover {
    background-color: #99b0a0;
    color: #D5E0D8;
    cursor: pointer;
}

/* Fin estilos modal */

/* Tooltip */
.serviciosTooltip {
    position: relative;
    z-index: 99;
    height: 50px;
    width: 180px;
    top: -80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    background-color: #FDFAF9;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #5C5B5F;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    /* Añadí visibility ya que con display no funcionaba correctamente la transición */
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
}

.imgServicioContainer:hover .serviciosTooltip {
    visibility: visible;
    opacity: 1;
}


.serviciosTooltip>p {
    line-height: 50px;
    text-align: center;
}

/* Fin estilos Tooltip */

/* Estilos generales */
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    display: block;
    height: 50px;
    width: 525px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
    border-color: rgba(0, 0, 0, 0.4);
}

textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    display: block;
    height: 135px;
    width: 525px;
    padding: 10px 15px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.4);
}

.lineaSeccion {
    width: 5%;
    text-align: center;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    border-top: 1px solid #5C5B5F;
}

.lineaSeccionAnimacion {
    width: 15%;
    text-align: center;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    border-top: 1px solid #5C5B5F;
    animation-name: lineGrow;
    animation-duration: 3s;
}

.lineaSeccionBlanca {
    border-top: 1px solid white;
}


.tituloSeccion {
    font-family: 'Julius Sans One', sans-serif;
    color: #5C5B5F;
    font-size: 3.1rem;
    text-align: center;
    margin-top: 80px;
    font-weight: normal;
}

.subtituloSeccion {
    font-family: 'Allura', cursive;
    color: #5C5B5F;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
}

.titulosBlanco {
    color: white;
}

.inputTransparent {
    background-color: rgba(253, 250, 249, 0.8);
}


@keyframes lineGrow {
    0% {
        opacity: 0.5;
        width: 5%
    }

    25% {
        opacity: 0.5;
        width: 2%
    }

    100% {
        opacity: 1;
        top: 15%
    }
}

/*Fin estilos generales*/